<h1>New Page</h1>
<div>
    <form method = "post" action = "/">
    <fieldset>
        <h1>Form Random Number Guess</h1>
        <label for="name"> Enter your name</label>
        <input type="text" name="name" id="name" value=<%= @name %> >
    </fieldset>
    <fieldset>
        <label for="number"> Guess the number from 1 to 100</label>
        <input type="text" name="number" id="number">
    </fieldset>
    <input type="submit">
    </form>
</div>
<a href="/"> Back to index</a> 
